/*
 * Project: generic-node-dashboard
 * File: public/css/style.css
 * Author: Emil Nilsson
 * Contact: emil.nilsson@nutanix.com
 */

 .navbar-custom {
    background-color:lightskyblue;
    padding-top: 3em;
}

.large-image {
    min-width: 100%;
    max-width: 100%;
}

.itemRow {
    border-bottom:1pt solid black;
}

.itemLabel {
    font-size: 2em;
    padding-right: 50px;
}
.itemPrice {
    font-size: 1.2em;
    color: red;
}
.totalText {
    font-size: 3em;
    color: black;
}
.totalPrice {
    font-size: 3em;
    color: red;
}